html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

body {
  color: #333;
  background: white;
}

/* COLOR PICKER */

.djs-popup.color-picker .entry {
  margin: 0;
}

.djs-popup.color-picker .djs-popup-group {
  display: grid;
  grid: auto-flow / 1fr 1fr 1fr;
}
