name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to create release (softprops/action-gh-release)

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Package Extension
        run: npx @vscode/vsce package
      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: '*.vsix'
